@{
    ViewBag.Title = "Quirky";
}

<div class="jumbotron">
    <h1>
        Book Rental Application
    </h1>
    <h2> 
        <strong> by Udemy course </strong>
    </h2>

    <br /> <br />

    <p class="lead">Complete ASP.NET MVC course in C#</p>
    <p><a href="https://www.udemy.com/course/complete-aspnet-mvc-course-in-c/learn/lecture/8348954#overview" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-4">
        <h3> Book </h3>
        <p> Books for rental </p>
    </div>

    <div class="col-md-4">
        <h3>Genre</h3>
        <p> 
            Genres of the Books</p>
    </div>

    <div class="col-md-4">
        <h3>Rental</h3>
        <p>Rent your favorite book </p>
    </div>

</div>